<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page_title|default('Swagger UI') }}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/swagger-ui.css" >

  {% if favicon_url %}
    <link rel="icon" href="{{favicon_url}}">
  {% else %}
    <link rel="icon" type="image/png" href="{{base_url}}/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{base_url}}/favicon-16x16.png" sizes="16x16" />
  {% endif %}


  <style>
    html
    {
      box-sizing: border-box;
      overflow: -moz-scrollbars-vertical;
      overflow-y: scroll;
    }
    *,
    *:before,
    *:after
    {
      box-sizing: inherit;
    }

    body {
      margin:0;
      background: #fafafa;
    }
  </style>
</head>

<body>

<div id="swagger-ui"></div>

<div><h6>Swagger UI v3.18.2</h6></div>
<script src="{{base_url}}/swagger-ui-bundle.js"> </script>
<script src="{{base_url}}/swagger-ui-standalone-preset.js"> </script>
<script>
window.onload = function() {

  // Prepare config
  var config = {
    url: "{{api_url}}",
    dom_id: '#swagger-ui',
    deepLinking: true,
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ],
    plugins: [
      SwaggerUIBundle.plugins.DownloadUrl
    ],
    layout: "StandaloneLayout"
  }

  // Add user config options from Python code
  var user_config = {{config_json|safe}};
  for (var attrname in user_config) { config[attrname] = user_config[attrname]; }
  console.log(config);

  // Build a system
  const ui = SwaggerUIBundle(config)

  // Configure OAuth
  ui.initOAuth({
      clientId: "{{client_id}}",
      clientSecret: "{{client_secret}}",
      realm: "{{client_realm}}",
      appName: "{{app_name}}",
      scopeSeparator: " ",
      additionalQueryStringParams: {}
    })

  window.ui = ui
}
</script>
</body>

</html>
